
*.d
*.crf
*.o
*.axf
*.lst
*.64249
*.dep
*.sct
*.lnp
*.htm
*.map
*.mas
Objects/
Listings/
__Previews/
*.uvprojx
.vscode/
.eide/
.vs/
bin/
obj/
*.user
.History/
*.code-workspace
*.txt
*.zip
*.log
*.ini
RTE/
/PCB/baseboard/History
*.SchDocPreview
/COM-Debug-Assistant/.vs
/COM-Debug-Assistant/obj
